/* Journey to the Center of the Earth Practicum */
/*Matthew Martinez */


header{
    text-align: center;
    border: solid 4px #886644;
    box-shadow:  3px 3px 2px black inset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 5px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.75);
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    Border: solid 4px #886644;
    box-shadow: 2px 2px 2px  black inset;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.75);
}



body{
margin-left: 50px;
margin-right: 50px;
max-width: 100% ;
margin-top: 3px;
margin-bottom: 3px;
padding-left:2rem;
padding-right: 2rem;
background-image:-o-linear-gradient(#765729, black);

display: flex;
flex-direction: column;
align-items: center;
}




main{
    Border: solid 4px #886644;
    box-shadow: 2px 2px 2px  black inset;
  /*  margin-left: 10px;
    margin-right: 10px; */
    padding-left:2rem;
    padding-right: 2rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1rem;
    margin-right:1rem ;
    background-color: rgba(255, 255, 255, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    img {

    
    float: left;
    margin-right:1em;
}

}

aside{
    Border: solid 4px #886644;
    box-shadow: 2px 2px 2px  black inset;
    padding-left:2rem;
    padding-right: 2rem;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
}




h2{
    text-decoration-line: underline;

 }

 #lang is, fr, it{

    font-style: italic ;
}

.character{
 font-weight: bold;
}

@media  and (min-width: 60em) {
    figure { 
        display:grid;
        grid-template-columns

    }
}



footer{
    
    
    Border: solid 4px #886644;
    box-shadow: 2px 2px 2px  black inset;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left:2rem;
    padding-right: 2rem;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.75);
}



/*

*/ 